<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>javaweb-exercise-10</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Java EE 8+(Servlet 4.0+)，可在web.xml一次設定應用系統所有的請求參數編碼 -->
	<!-- Ran時在打開 -->
	<!-- <request-character-encoding>UTF-8</request-character-encoding>
	<response-character-encoding>UTF-8</response-character-encoding> -->
	
	
	
	<servlet>
		<servlet-name>registerSLServlet</servlet-name>
		<servlet-class>web.test.servlet.RegisterSLServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>Caleb</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>174</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerSLServlet</servlet-name>
		<url-pattern>/registerSL</url-pattern>
		<url-pattern>/REGISTER_SL</url-pattern>
	</servlet-mapping>
</web-app>